<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <targets>
    <!-- System errors - separate file for each day -->
    <target name="error_file"
            xsi:type="File"
            fileName="${basedir}/../../../logs/blazor-server/error/error-${shortdate}.log"
            layout="${longdate} [${uppercase:${level}}] ${logger} ${message}${onexception:${newline}${exception:format=tostring}}"
            createDirs="true" />

    <!-- Application activity - separate file for each day -->
    <target name="info_file"
            xsi:type="File"
            fileName="${basedir}/../../../logs/blazor-server/info/info-${shortdate}.log"
            layout="${longdate} [${uppercase:${level}}] ${logger} ${message}${onexception:${newline}${exception:format=tostring}}"
            createDirs="true" />

    <target name="log_console"
            xsi:type="Console"
            layout="${longdate} [${uppercase:${level}}] ${logger} ${message}" />
  </targets>

  <rules>
    <logger name="Microsoft.Hosting.Lifetime" minLevel="Info" writeTo="log_console" final="true" />
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minLevel="Error" writeTo="error_file" />
    <logger name="*" maxLevel="Warn" writeTo="info_file" />
    <logger name="*" writeTo="log_console" />
  </rules>
</nlog>
